<table>
  <tr>
    <th>Название</th>
    <th>Адрес</th>
    <th>Широта</th>
    <th>Долгота</th>
  </tr>
  <% @buildings.each do |bld| %>
    <tr>
      <td>bld.name</td>
      <td>bld.address</td>
      <td>bld.latitude</td>
      <td>bld.longtitude</td>
    </tr>
  <% end %>
</table>


