<h1>Ближайшие точки</h1>

<p>Кликните по карте, чтобы найти точки, ближайшие к клику.</p>

<div id="map">
</div>

<div id="res">
  <div id="clicked">Вы кликнули на точку <span id="latlon"></span></div>
  <table id="res_tbl">
    <tr>
      <th>Название</th>
      <th>Адрес</th>
      <th>Широта</th>
      <th>Долгота</th>
    </tr>
  </table>
</div>

<footer>
  &copy; 2014 Солопов Артемий Ильич.
</footer>
